html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e5effa;
}

.container {
    margin: auto;
    width: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 7px 14px -7px rgba(0,0,0,0.67);
    padding: 30px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.update {
    border: none;
    border-radius: 20px;
    background-color: #e5effa;
    display: flex;
    align-items: center;
}

.username {
    color: #1c202b;
    font-weight: 800;
}

.action {
    color: #5e6778;
}

.object {
    color: #1c202b;
    font-weight: 800;
    opacity: 0.7;

}
span {
    margin-right: 5px;
}

.icon {
    height: 20px;
    width: 20px;
}
