html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

p {
    margin: 2px;
}

body {
    /* background-color: #e5effa; */
    background-color: #f9fafe;
}

.container {
    margin: auto;
    /* width: 100%; */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 7px 14px -7px rgba(0,0,0,0.67);
    padding: 15px;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.notify {
    font-weight: 800;
    font-size: 1.3rem;
    display: flex;
}

.notify div {
    width: 30px;
    height: 20px;
    border-radius: 5px;
    background-color: #0a317b;
    text-align: center;
    color:#e5effa;
    font-size: 0.85rem;
    padding-bottom: 2px;
    margin-left: 5px;
    margin-top: 4px;
}

.update, .read-update  {
    border: none;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    gap: 10px;
}

.update {
    /* background-color: #f9fafe; */
    background-color: #f6fafd;
}

.read-update {
    background-color: #ffffff;
}

.update img, .read-update img{
    height: 40px;
    width: 40px;
}

.username {
    color: #1c202b;
    font-weight: 800;
}

.action, .read, .message {
    color: #5e6778;
}

.object {
    color: #1c202b;
    font-weight: 800;
    opacity: 0.7;
}

.message {
    /* background-color: #dde7ee; */
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #939dae50;
    margin-top: 10px;
}

.message:hover {
    background-color: #dde7ee;
}

.action-time {
    color: #939dae;
}
span {
    margin-right: 3px;
}

.update .fa-solid {
    width: 9px;
    height: 9px;
    background-color: #f65351;
    border-radius: 50%;
}

#kim .object, #jacob .object {
    color: #0a317b;
}

.object:hover, .read:hover, .username:hover {
    color: #0a317b;
    cursor: pointer;
}

@media (min-width:650px) {
    .container {
        max-width: 45%;
        padding: 15px 2%;
        margin: 50px auto 100px auto;
    }
}
