html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

p {
    margin: 0;
}

body {
    background-color: #e5effa;
}

.container {
    margin: auto;
    /* width: 100%; */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 7px 14px -7px rgba(0,0,0,0.67);
    padding: 15px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.notify {
    font-weight: 800;
    font-size: 1.2rem;
}

.notify-number {
    background-color: #0a317b;
    border: 2px;
    border-radius: 5px;
    height: 20px;
    color:#e5effa;
}

.update, .read-update  {
    border: none;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}

.update {
    background-color: #e5effa;
}

.read-update {
    background-color: #ffffff;
}

.update img, .read-update img{
    height: 40px;
    width: 40px;
}

.username {
    color: #1c202b;
    font-weight: 800;
}

.action, .read {
    color: #5e6778;
}

.object {
    color: #1c202b;
    font-weight: 800;
    opacity: 0.7;
}

.action-time {
    color: #939dae;
}
span {
    margin-right: 3px;
}
